* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f4f6f9;
}

/* NAVBAR */
.navbar {
  background: #000000;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.back-btn {
  color: #38bdf8;
  text-decoration: none;
  border: 1px solid #38bdf8;
  padding: 6px 12px;
  border-radius: 6px;
}

.back-btn:hover {
  background: #38bdf8;
  color: #0f172a;
}

.logout {
  color: #f87171;
  text-decoration: none;
}

/* LAYOUT */
.profile-layout {
  display: flex;
  gap: 30px;
  padding: 40px;
  justify-content: center;
}

.profile-card {
  background: white;
  width: 280px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.avatar {
  width: 90px;
  height: 90px;
  background: linear-gradient(135deg, #22c55e, #2563eb);
  border-radius: 50%;
  margin: auto;
  margin-bottom: 15px;
}

.username {
  color: gray;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stats h3 {
  color: #2563eb;
}

.edit-btn {
  background: #22c55e;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}


.content-card {
  background: white;
  width: 520px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


.tabs input {
  display: none;
}

.tabs label {
  padding: 10px 18px;
  margin-right: 10px;
  background: #e5e7eb;
  border-radius: 6px;
  cursor: pointer;
}

.tabs input:checked + label {
  background: #2563eb;
  color: white;
}

.tab-content {
  display: none;
  margin-top: 25px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}


.skill {
  margin-bottom: 15px;
}

.bar {
  height: 8px;
  background: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;
  border-radius: 10px;
}

.html { width: 90%; background: #f97316; }
.css  { width: 80%; background: #3b82f6; }
.java { width: 70%; background: #ef4444; }
.dsa  { width: 65%; background: #22c55e; }


.activity {
  list-style: none;
}

.activity li {
  padding: 10px 0;
  border-bottom: 1px solid #e5e7eb;
}