
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f7f6; 
    color: #333;
    max-width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    color: #2c3e50;
    text-align: center;
}


input {
    width: 95%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}


button[type="submit"] {
    background-color: #27ae60; 
    color: white;
}

button[type="submit"]:hover {
    background-color: #219150;
}

.clear-btn {
    background-color: #e74c3c; 
    color: white;
    margin-top: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #ecf0f1;
    border-bottom: 2px solid #bdc3c7;
}

td, th {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.asign, .give {
    display: inline;
    
}


.solve_problem_btn {
    color: rgb(255, 255, 255);
    background-color: #219150;

}


/* solve button css */

/* Button */
.solve_btn {
  display: inline-block;
  position: relative;
  left: 80%;
  top: -50px;
  padding: 12px 15px;
  background: #22c55e;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.3s ease;
}

.solve_btn:hover {
  background: #16a34a;
  transform: translateY(-2px);
}
