<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Practice Coding Contest</title>
  <link rel="stylesheet" href="{{  url_for('static', filename='css/start_page.css')  }}">

</head>
<body>

<nav class="navbar">
  <div class="nav-left">
    <img src="pic.jpg" alt="logo" class="logo">
    <span class="brand">Copack</span>
  </div>  
</nav>

<section class="section home">
  <div class="center-box">
    <h1>Practice Coding Contest – Test 01</h1>
    <a href="/student_login" class="btn">Sign Up</a>
    <a href="/student_problem_view" class="btn btn-outline-primary btn-sm me-2">Student Enter</a>
    <a href="/login" class="btn">Admin</a>
  </div>
  
</section>


<section class="info-section">

  <div class="box">
    <h3>About</h3>
    <p>
      Please provide a short description of your contest here!
      This will also be used as metadata.
    </p>
  </div>

  <div class="box">
    <h3>Rules</h3>
    <p>
      Code directly from our platform, which supports over 30 languages.
      Please provide any rules for your contest here.
    </p>
  </div>

</section>

</body>
</html>